<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-7">
            <img class="img-responsive" style="max-height: 65%;max-width: 100%;" src="../../../../assets/images/login.jpg">
        </div>
        <div class="col-lg-4">
            <h4 class="title-login">Restaurant | {{isLoggedIn ? 'Log in' : 'Sign up'}}</h4>
            <p class="sub-title-login">
                Please, {{isLoggedIn ? 'Log in' : 'Sign up'}} to continue.
            </p>
            <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
                <lacc-input-container *ngIf="!isLoggedIn" [showTip]="false">
                    <input type="text" class="form-control" ngModel name="fullName" required placeholder="Full Name">
                </lacc-input-container>

                <lacc-input-container [showTip]="false">
                    <input type="email" class="form-control" ngModel name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email">
                </lacc-input-container>

                <lacc-input-container [showTip]="false">
                    <input type="password" class="form-control" ngModel name="password" required placeholder="Password">
                </lacc-input-container>

                <div class="row">
                    <!-- /.col -->
                    <div class="col-lg-12">
                        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">
                            {{isLoggedIn ? 'Log in' : 'Sign up'}}
                        </button> |
                        <button type="button" class="btn btn-default" (click)="switchMode()">
                            Switch to {{ !isLoggedIn ? 'Log in' : 'Sign Up' }}
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>