<div class="user-detail pull-left">
    <span *ngIf="isLoggedIn(); else notLoggedIn">
        <!-- Harish - modified the below line to link to profile component-->
        Hello, <a routerLink='displayProfile'>{{ user().userName }}</a> | <a (click)="logout()">Logout</a>
</span>

    <ng-template #notLoggedIn>
        <a (click)="login()" class="login-user-detail pull-right">Login <i class="fa fa-sign-in"></i>
    </a>
    </ng-template>

</div>