<div class="content">
    <div class="row">
        <div class="col-lg-2 col-xs-2"></div>
        <div class="col-lg-10 col-xs-10">
            <h2>Table reservation for the restaurants in Bangalore</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-xs-2"></div>
        <div class="col-lg-6 col-xs-6">
            <!-- Harish - addition for the search restaurant backlog -->
            <lacc-search-restaurant (search)="this.search$.next($event)"></lacc-search-restaurant>
            <div *ngIf="finalRestaurants.length==0">
                <h5>No restaurants found with '{{searchName}}' name.</h5>
            </div>
            <!------------------------------------------------------->
            <div class="restaurant-card" *ngFor="let restaurant of finalRestaurants">
                <div class="col-lg-3 col-xs-3">
                    <img [src]="restaurant.imagePath">
                </div>
                <div class="col-lg-6 col-xs-6">
                    <span class="restaurant-type label">{{restaurant.type}}</span><br>
                    <span class="restaurant-title">{{restaurant.name}}</span><br>
                    <span class="restaurant-area">{{restaurant.area}}</span><br>
                    <span class="restaurant-address">{{restaurant.address}}
                    </span><br>
                </div>
                <div class="col-lg-3 col-xs-3 center">
                    <span class="restaurant-rating label" [ngClass]="getBGcolorForRating(restaurant.rating)">
                        {{restaurant.rating}}
                    </span><br>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,1)"></i>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,2)"></i>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,3)"></i>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,4)"></i>
                    <i class="fa" [ngClass]="getStarForRating(restaurant.rating,5)"></i>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <hr>
                    <div class="col-lg-3 col-xs-3 sub-titles">
                        <span>CUISINES:</span><br>
                        <span>HOURS:</span><br>
                    </div>
                    <div class="col-lg-9 col-xs-9">
                        <span>{{restaurant.category}}</span><br>
                        <span>{{restaurant.reservation.hours}}</span><br>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12 center restaurant-card-footer">
                    <hr>
                    <div class="col-lg-4 col-xs-4">
                        <i class="fa fa-phone"></i> Call
                    </div>
                    <div class="col-lg-4 col-xs-4" (click)="navigateToReservationPage('reservation-menu',restaurant.id)">
                        <i class="fa fa-book"></i> View Menu
                    </div>
                    <div class="col-lg-4 col-xs-4" (click)="navigateToReservationPage('reserve-table',restaurant.id)">
                        <i class="fa fa-calendar"></i> Book a Table
                        <br>
                        <span class="restaurant-status green">
                            <i class="fa fa-circle"></i> Open now
                        </span>
                    </div>
                     <!--  Backlog: Add option for booking event-->
                    <!-- Backlog cleared by Eshwer -->
                    <div class="col-lg-3 col-xs-3" (click)="navigateToBookEventPage('reserve-event',restaurant.id)">
                        <i class="fa fa-glass"></i> <br> Book Event
                        <br>
                        <span class="restaurant-status green">
                            <i class="fa fa-circle"></i> Available
                        </span>
                    </div>
                    <!-- Changes end here -->
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-3">
            <div class="filter-card col-lg-12">
                <span class="filter-title">Filters</span> <a class="pull-right red" (click)='clearFilter()'>clear all</a>
                <hr>
                <div id="sort">
                    <span class="filter-subtitle">Sort By</span><br>
                    <span class="filter-option" (click)="selectFilter('sort',$event)">Popularity</span> - <span class="filter-sub-opt">high to low</span><br>
                    <span class="filter-option" (click)="selectFilterFavorite('sort',$event)">Favorite</span><span class="filter-sub-opt"></span><br>
                    <span class="filter-option" (click)="selectFilterNameAZ('sort',$event)">Name</span> - <span class="filter-sub-opt">A-Z</span><br>
                    <span class="filter-option" (click)="selectFilterNameZA('sort',$event)">Name</span> - <span class="filter-sub-opt">Z-A</span><br>
                        <!-- VISHAL SINGH SAINI -- SORTING THE RESTAURANT BY RATINGS -->
                        <span class="filter-option" (click)="selectFilterRatingHighToLow('sort',$event)">Rating</span> - <span class="filter-sub-opt">high to low</span><br>
                        <span class="filter-option" (click)="selectFilterRatingLowToHigh('sort',$event)">Rating</span> - <span class="filter-sub-opt">low to high</span><br>
                    <span class="filter-option" (click)="selectFilter('sort',$event)">Cost</span> - <span class="filter-sub-opt">high to low</span><br>
                    <span class="filter-option" (click)="selectFilter('sort',$event)">Cost</span> - <span class="filter-sub-opt">low to high</span><br>
                </div>
                <br>
                <div id="category">
                    <span class="filter-subtitle">Category</span><br>
                    <span *ngFor='let filter of filters.category'><span class="filter-option" (click)="selectFilter('category',$event)">{{filter}}</span><span class="filter-sub-opt pull-right">{{getFilterCount('category',filter)}}</span><br></span>
                </div>
                <br>
                <div id="location">
                    <span class="filter-subtitle">Location</span><br>
                    <span *ngFor='let filter of filters.location'><span class="filter-option" (click)="selectFilter('location',$event)">{{filter}}</span><span class="filter-sub-opt pull-right">{{getFilterCount('area',filter)}}</span><br></span>
                </div>
                <br>
                <div id="cuisine">
                    <span class="filter-subtitle">Cuisine</span><br>
                    <span *ngFor='let filter of filters.cuisine'><span class="filter-option" (click)="selectFilter('cuisine',$event)">{{filter}}</span><span class="filter-sub-opt pull-right">{{getFilterCount('type',filter)}}</span><br></span>
                </div>
                <br>
            </div>
        </div>
        <div class="col-lg-1 col-xs-1"></div>
    </div>
</div>