<form #userBookingEventForm="ngForm" (ngSubmit)="navigateToReservationStatusPage()">
  <!-- Backlog: Create a new component for getting userdeatils for the Event reservation Page -->
  <!-- Backlog cleared by Eshwer -->
  <div class="col-lg-12 col-xs-12">
      <h4>Please select your booking details:</h4>
      <div class="col-lg-6 col-xs-12">
          <label for="bookingDate">Event From</label>
          <br>
          <input [(ngModel)]="bookingStartDate" name="bookingStartDate" type="date" class="form-control" />
          <!-- Changes begin here: Date Backlog-->
          <!-- Alternate logic for Calander backlog using Angular material. Cons: Version Instability for Angular Material: DatePicker -->
          <!-- <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> -->
      </div>
      <!-- Changes end here : Date Backlog-->
      <div class="col-lg-6 col-xs-12">
          <label for="bookingTime">Booking Time</label>
          <select [(ngModel)]="bookingStartTime" class="form-control" name="bookingStartTime">
              <option value="10:00 AM">10:00 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="12:00 PM">12:00 PM</option>
              <option value="01:00 PM">01:00 PM</option>
              <option value="02:00 PM">02:00 PM</option>
              <option value="03:00 PM">03:00 PM</option>
              <option value="04:00 PM">04:00 PM</option>
              <option value="07:00 PM">07:00 PM</option>
              <option value="08:00 PM">08:00 PM</option>
              <option value="09:00 PM">09:00 PM</option>
              <option value="10:00 PM">10:00 PM</option>
          </select>
      </div>
  </div>
  <br>
  <div class="col-lg-12 col-xs-12">
      <div class="col-lg-6 col-xs-12">
          <label for="bookingDate">Event Till</label>
          <input [(ngModel)]="bookingEndDate" name="bookingEndDate" type="date" class="form-control" />
      </div>
      <div class="col-lg-6 col-xs-12">
          <label for="bookingEndTime">Booking Till</label>
          <select [(ngModel)]="bookingEndTime" class="form-control" name="bookingEndTime">
              <option value="10:00 AM">10:00 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="12:00 PM">12:00 PM</option>
              <option value="01:00 PM">01:00 PM</option>
              <option value="02:00 PM">02:00 PM</option>
              <option value="03:00 PM">03:00 PM</option>
              <option value="04:00 PM">04:00 PM</option>
              <option value="07:00 PM">07:00 PM</option>
              <option value="08:00 PM">08:00 PM</option>
              <option value="09:00 PM">09:00 PM</option>
              <option value="10:00 PM">10:00 PM</option>
          </select>
      </div>
  </div>
  <br>
  <div class="col-lg-12 col-xs-12">
      <div class="col-lg-6 col-xs-12">
          <label for="eventType">Select a time</label>
          <select [(ngModel)]="eventType" class="form-control" name="eventType">
              <option value="Birthday">Birthday</option>
              <option value="Marriage">Marriage</option>
              <option value="Office Party">Office Party</option>
              <option value="Engagement">Engagement</option>
              <option value="Other">Other</option>
          </select>
      </div>
      <div class="col-lg-6 col-xs-12">
          <label for="guestCount">Number of Guests</label>
          <select [(ngModel)]="guestCount" class="form-control" name="guestCount">
              <option value="1-2">1-2</option>
              <option value="3-4">3-4</option>
              <option value="5-6">5-6</option>
              <option value="6-7">6-7</option>
              <option value="7-8">7-8</option>
              <option value="8-9">8-9</option>
              <option value="9-10">9-10</option>
              <option value="10+">10+</option>
              <option value="20+">20+</option>
          </select>
      </div>
  </div>
  <br>
  <div class="col-lg-12 col-xs-12">
      <h4>Please select from menu:</h4>
      <hr>
      <ol *ngFor='let menuItem of menu'>
          <div class="form-check">
              <input class="form-check-input checkmark" type="checkbox" value="" id="defaultCheck1">
              <li><span class="food-title">{{menuItem.name}}</span><span class="food-price pull-right">$
                  {{menuItem.price}}</span><br>
                  <span class="food-desciption">{{menuItem.description}}</span>
              </li>
          </div>
      </ol>
  </div>
  <div class="col-lg-12 col-xs-12">
      <h4>Enter Guest details:</h4>
      <div class="col-lg-6 col-xs-12">
          <label for="guestName">Guest name</label>
          <input [(ngModel)]="guestName" name="guestName" placeholder="Guest Name" type="text" class="form-control" />
      </div>
      <div class="col-lg-6 col-xs-12">
          <label for="emailID">E-mail ID</label>
          <input [(ngModel)]="emailID" name="emailID" type="email" placeholder="E-mail ID" class="form-control" />
      </div>
      <div class="col-lg-6 col-xs-12">
          <label for="phoneNumber">Phone Number</label>
          <input [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Phone number" type="number" maxlength="10" class="form-control" />
      </div>
      <div class="col-lg-6 col-xs-12">
          <label for="instructions">Instructions (If any)</label>
          <input [(ngModel)]="instructions" name="instructions" type="text" placeholder="Instructions" class="form-control" />
      </div>
  </div>
  <div class="col-lg-12 col-xs-12">
      <button class="pull-right form-control">Book</button>
  </div>
</form>