form div {
    margin-bottom: 2%;
}

form button {
    background-color: green;
    color: white;
    font-weight: bold;
}

label {
    color: #5f5e4e;
}

.food-title {
    font-size: 1.2em;
    font-weight: bold;
}

.food-price {
    font-weight: bold;
}

.checkmark {
    float: left;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

.food-desciption {
    margin-left: 25px;
}