<a [routerLink]="['/restaurants', restaurant.id]" class="gal">
    <img [src]="restaurant.imagePath" alt=""><span></span>
</a>
<!-- VISHAL SINGH SAINI --  showing onto with the restaurant pages with the code-->
<span class="restaurant-rating label" [ngClass]="getBGcolorForRating(restaurant.rating)">
    {{restaurant.rating}}
    </span><br>
<i class="fa" [ngClass]="getStarForRating(restaurant.rating,1)"></i>
<i class="fa" [ngClass]="getStarForRating(restaurant.rating,2)"></i>
<i class="fa" [ngClass]="getStarForRating(restaurant.rating,3)"></i>
<i class="fa" [ngClass]="getStarForRating(restaurant.rating,4)"></i>
<i class="fa" [ngClass]="getStarForRating(restaurant.rating,5)"></i>

<div class="col2">
    <span class="col3"><a href="#">{{ restaurant.name }}</a></span> $ It runs from Monday to Friday, from {{ restaurant.hours }}
</div>



