.restaurant-rating {
    font-size: 1em;
    font-weight: bold;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.red {
    color: red;
}

.bg-orange {
    background-color: orange;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}