<table class="table-delivery-costs tab-content table">
    <tr>
        <th class="col-left">Items</th>
        <td class="col-right">{{ itemsValue | currency:'BRL':'symbol' }}</td>
    </tr>
    <tr>
        <th class="col-left">Freight</th>
        <td class="col-right">{{ delivery | currency:'BRL': 'symbol' }}</td>
    </tr>
    <!-- Nikhil - Display the Freightdetails -->
    <tr>
        <th class="col-left">Freight</th>
        <td class="col-right">{{ deliveryCost() | currency: 'INR': 'symbol' }}</td>
    </tr>

    <!-- Nikhil - Display GST -->
    <tr *ngIf="itemsValue!=0">
        <th class="col-left">GST (5%)</th>
        <td class="col-right">{{ calculateGST() | currency: 'INR': 'symbol' }}</td>
    </tr>

    <!-- Nikhil - Display SGST -->
    <tr *ngIf="itemsValue!=0">
        <th class="col-left">SGST (2.5%)</th>
        <td class="col-right">{{ calculateSGST() | currency: 'INR': 'symbol' }}</td>
    </tr>

    <!-- Nikhil - Display CGST -->
    <tr *ngIf="itemsValue!=0">
        <th class="col-left">CGST (2.5%)</th>
        <td class="col-right">{{ calculateCGST() | currency: 'INR': 'symbol' }}</td>
    </tr>

    <!-- Nikhil - Display Total Amount -->
    <tr>
        <th class="col-left">Total</th>
        <td class="col-right">{{ total() | currency: 'INR': 'symbol' }}</td>
    </tr>
    <!-- Harish- added section -->
    <tr>
        <th class="col-left">Discount</th>
        <td class="col-right">{{ discount | currency:'BRL': 'symbol' }}</td>
    </tr>
    <!---------------------------->
    <tr>
        <th class="col-left">Total</th>
        <td class="col-right">{{ total() | currency:'BRL':'symbol' }}</td>
    </tr>
</table>