<!-- <div *ngFor="let booking of userBookingDetails" class="card" style="width: 18rem;"> -->
  <div class="card">
    <div class="card-header">
        <h3>Table Reservation Details</h3>
    </div>
    <table class="card-table table">
        <tbody class="tablebody">
            <tr class="trow">
                <td>Guest Name</td>
                <td>Guest Email</td>
                <td>Guest Number</td>
                <td>Table Size</td>
                <td>Booking Date</td>
                <td>Booking Time</td>
                <td>Booking Status</td>
            </tr>
            <tr class="trow">
                <td>{{userBookingDetails.guestName}}</td>
                <td>{{userBookingDetails.emailID}}</td>
                <td>{{userBookingDetails.phoneNumber}}</td>
                <td>{{userBookingDetails.guestCount}}</td>
                <td>{{userBookingDetails.bookingDate}}</td>
                <td>{{userBookingDetails.bookingTime}}</td>
                <td>{{statusReservation}}</td>
            </tr>
        </tbody>
        <hr style="width:1000%;text-align:left;margin-left:0">
    </table>
    <hr style="width:1000%;text-align:left;margin-left:0">
    <h5 class=" card-title ">Instructions(If any)</h5>
    <hr style="width:1000%;text-align:left;margin-left:0">
    <p class="card-text ">{{userBookingDetails.instructions}}</p>
    <hr style="width:1000%;text-align:left;margin-left:0">
    <a href="# " class="btn ">Cancel Reservation</a> &nbsp;
    <a href="# " class="btn ">Accept Reservation</a>
</div>