.card-body {
    border: 1px solid;
    border-radius: 5%;
    padding: 30x;
    margin: 30px;
    width: 400px;
    height: auto;
}

h5 {
    padding: 10px;
}

.card-text {
    padding: 10px;
}

.card-subtitle {
    padding: 10px;
}

.card-link {
    padding: 10px;
}

.btn {
    margin: 20px;
    background-color: #b8b364;
    color: black;
}

.trow {
    margin-left: 20px;
    text-align: center;
}

h3 {
    margin-left: 20px;
    text-align: center;
}

.line {
    border-right: 0;
    border-left: 0;
}