<!-- Vishal - Displaying order details -->
<div *ngIf="orders">
    <div class="container">
        <div class="col-lg-12">
            <div class="card">
                <h1><b>Order Details</b></h1>
                <hr><br>
                <h4>Thanks for your order <b>{{username}}</b></h4><br>
                <div class="align" style="margin-top: -10px;">
                    <div class="col-lg-4 col-sm-12">
                        <b>Order Id : {{orders.id}}</b>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <b>Restaurant Name : {{orders.name}}</b>
                    </div>
                </div><br><br>
                <div class="col-lg-10">
                    <h2 style="text-align: center; margin-top: -10px;">Items</h2>
                </div>
                <div class="items">
                    <div class="col-lg-6">
                        <b>Items</b>
                    </div>
                    <div class="col-lg-2">
                        <b>Quantity</b>
                    </div>
                </div>
                <!-- <hr class="middle-line"> -->
                <div *ngFor="let item of orders.orderItems">
                    <div class="items">
                        <div class="col-lg-6">
                            <b>{{item.menuId}}</b>
                        </div>
                        <div class="col-lg-4">
                            <b>{{item.quantity}}</b>
                        </div>
                    </div>
                    <br><br>
                </div>
                <br>
                <div class="align" style="padding-top: 20px;">
                    <div class="col-lg-4">
                        <b>Total amount : {{orders.total}}</b>
                    </div>
                    <div class="col-lg-8">
                        <b>Payment Mode : {{orders.paymentOptions}}</b>
                    </div>
                    <div class="col-lg-4" style="float: right; padding-top: 30px; margin-left: 10px;">
                        <button class="btn btn-primary" (click)="display()">Print Invoice</button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>