h1 {
    padding-top: 5px;
    margin-top: -20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    margin-top: -20px;
    margin-left: 10px;
}

hr {
    border-top: 1px solid;
    opacity: 50%;
}

.items {
    width: 70%;
    margin: auto;
}

div>b {
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

.card {
    margin: auto;
    width: 50%;
    margin-top: -50px;
    margin-bottom: -50px;
    height: 390px;
    max-width: 1000px;
    padding: 4vh 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 3px solid rgb(252, 103, 49);
    border-bottom: 3px solid rgb(252, 103, 49);
    border-left: none;
    border-right: none;
    border-radius: 10px;
}