<!-- Harish - all the changes in coupon section-->
<div *ngIf="!showCoupons">
    <div class="form-group col-lg-12">
        <input type="text" id="coupon" class="form-control" name="coupon" placeholder="Enter your coupon" #coupon>
    </div>

    <p style="color: azure;">{{message}}</p>

    <div class="col-lg-12">
        <button type="submit" class="btn btn-default btn-block" (click)="applyCoupon(coupon.value)">Apply Coupon</button>
    </div>
</div>

<div class="apply-coupon col-lg-12" data-toggle="modal" data-target="#myModal" *ngIf="showCoupons">
    <h3><u>Available Coupons</u></h3>
    <div *ngFor="let x of coupons">
        <ul>
            <li>Coupon <b>{{x.coupon}}</b> is applicable when the order amount is greater than <b>{{x.amount}}</b>.</li>
        </ul>
    </div>
</div>

<!-- <div class="apply-coupon col-lg-12" data-toggle="modal" data-target="#myModal">
  <input value="Apply Coupon">
</div> -->

<!-- <div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <p>{{ message }}</p>
  <div class="alert-box-actions">
      <button class="btn btn-primary" (click)="onClose()">Close</button>
  </div>
</div> -->