<div class="container_12">
    <div class="grid_12">
        <h3 class="head2">Choose Restaurant</h3>
        <!-- Harish - search restaurants backlog -->
        <lacc-search-restaurant (search)="this.search$.next($event)"></lacc-search-restaurant>
        <!---------------------------------------->
    </div>
    
    <div class="div-tabs gallery1">
        <div class="grid_3" *ngFor="let restaurant of finalRestaurants">
            <lacc-restaurant [restaurant]="restaurant"></lacc-restaurant>
        </div>
    </div>
    <!-- Harish - search restaurants backlog -->
    <div class="grid_12" *ngIf="finalRestaurants.length==0">
        <h5>No restaurants found with '{{searchName}}' name.</h5>
    </div>

</div>