<div class="container_12">
    <br><br><br><br>
    <div class="box maxheight">
        <img [src]="currUser.userProfileImageUrl" alt="User Profile Image">
        <div class="title">{{currUser.userName}}</div>
        <div class="data-table">
            <table>
                <tr>
                    <th>Name</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>{{currUser.userName}}</td>
                </tr><br>
                <tr>
                    <th>Email</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>{{currUser.userEmail}}</td>
                </tr><br>
                <tr>
                    <th>Age</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>{{currUser.userAge}}</td>
                </tr><br>
                <tr>
                    <th>Gender</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>{{currUser.userGender}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>