table tr th,
table tr td {
    font-size: large;
}

table tr th {
    display: inline-block;
}

.data-table {
    margin-left: 170px;
}

.box {
    width: 60%;
    margin-bottom: 2%;
    -webkit-box-align: center;
    margin-left: 161px;
    box-shadow: 5px 10px 18px #888888;
}