.margin-left-right-5px{
    margin-right: 5px;
}

.curved-border {
    border-radius: 15px;
}

.panel-bottom{
    margin-top: 20px;
    border-top: 2px dotted #a09e9e;
    padding-top: 10px;
}

tr > td,tr > th {
    padding-left: 0px;
    border: none;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


/* The popup form - hidden by default */

.form-popup {
    display: none;
    align-items: center;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    height: 300px;
}


/* Add styles to the form container */

.form-container {
    max-width: 1000px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    height: 240px;
    box-shadow: 10px 10px 5px #ffffff;
}


/* Full-width input fields */

.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px;
    /* background: #ffffff; */
}


/* When the inputs get focus, do something */

.form-container input[type=text]:focus {
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    outline: none;
}

#hi {
    display: inline-block;
    margin: 4px 2px;
    margin-top: 7px;
    width: 120px;
    height: 44px;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #337ab7;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    vertical-align: middle;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: #337ab7;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.margin-left-right-5px {
    margin-right: 5px;
}

.curved-border {
    border-radius: 15px;
}

.panel-bottom {
    margin-top: 20px;
    border-top: 2px dotted #a09e9e;
    padding-top: 10px;
}

tr>td,
tr>th {
    padding-left: 0px;
    border: none;
}