<div class="container">
    <div class="col-lg-12">
        <div *ngFor="let order of orders" class="panel panel-default curved-border">
            <div class="panel-body">
                <div class="col-lg-2">
                    <img class="curved-border" [src]="order.imagePath">
                </div>
                <div class="col-lg-10">
                    <h3 class="margin-top-zero">{{order.name}} Restaurent</h3>
                    <p>{{order.address}}</p>
                    <div class="col-lg-12">
                        <b>Ordered Items</b>
                    </div>
                    <div class="col-lg-12" *ngFor="let item of order.orderItems">
                        <div class="text-left col-lg-3 padding-left-zero">({{ item.quantity }}x) {{ item.menuId }}</div>
                        <div class="col-lg-3 padding-left-zero">{{ "63" | currency: 'INR': 'symbol'}}</div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-12 panel-bottom padding-left-zero">
                        <button class="btn btn-primary" (click)="viewDetails(order.id)">View Details</button>
                        <button class="btn btn-primary" (click)="reOrder(order.id)" style="margin-left: 10px;"> <!-- routerLink="/restaurants/:id" -->
                          
                            <span><i class="fa fa-repeat"></i></span> Re-order
                        </button>
                        <button class="btn btn-primary" style="margin-left: 15px;" (click)="openForm()" type="submit"> Add Review</button>

                        <!-- VISHAL SINGH SAINI -- adding the add review form -->
                        <div class="form-popup" style="vertical-align:center; width:100%;" id="myForm">
                            <br>
                            <form [formGroup]="userForm" (ngSubmit)="addNewRevie()" class="form-container" style="margin-top: 10px; margin-left: 5%; margin-right: 5%; margin-bottom: 10px;">

                                <h3 style="text-align:center;">Give your review to the <b>{{order.name}}</b> Restaurant</h3>
                                <br>
                                <input type="text" style="width:90%; height:3%; margin-left: 40px;" placeholder="Give review" formControlName="RestaurantReview" (ngModelChange)="rev($event)">
                                <br>
                                <div style="display: inline-block; margin-left: 250px; margin-top:7px ;  border-radius: 3px; ">
                                    <button *ngIf="disable" style="font-size:16px;" type="submit" id="hi" class="btn" (click)="closeForm()"><b>Submit</b></button>
                                    <button *ngIf="!disable" style="font-size:16px;" type="submit" id="hi" class="btn" (click)="closeForm()" [disabled]="true"><b>Submit</b></button>
                                </div>

                                <div style="display: inline-block; margin-left: 120px;  margin-top:7px ;  border-radius: 3px;">
                                    <button style="font-size:16px;" type="button" id="hi" class="btn cancel" (click)="closeForm()"><b>Close</b></button></div>
                            </form>
                            <br>
                        </div>

                        <span class="pull-right">
                            <p>Total Paid: <b>{{ "126" | currency: 'INR': 'symbol'}}</b> </p>
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="panel-footer">
        <button class="btn btn-primary">View Details</button>
        <button class="btn btn-primary" style="margin-left: 10px;"><span><i class="fa fa-repeat"></i></span> Re-order</button>
      </div> -->
        </div>
        <!-- <span *ngIf="view">
            <lacc-view-details></lacc-view-details>
        </span> -->
    </div>
</div>